<mat-toolbar color="primary" class="header-toolbar">
  <a href="#" class="logo">
    <img src="assets/logo-ts.png" alt="Talent Link Logo" />
    <span class="logo-text">Talent Link</span>
  </a>

  <span class="toolbar-spacer"></span>

  <div
    class="header-public-actions"
    *ngIf="(isAuthenticated$ | async) === false"
  >
    <nav class="main-nav">
      <a mat-button routerLink="#about-us">Quem Somos</a>
      <a mat-button routerLink="#open-vacancies">Vagas Abertas</a>
      <a mat-button routerLink="#contact">Contato</a>
    </nav>
    <button mat-icon-button class="menu-button" (click)="toggleSidenav.emit()">
      <mat-icon>menu</mat-icon>
    </button>
    <button mat-flat-button color="accent" routerLink="/login">Entrar</button>
  </div>

  <div class="header-app-actions" *ngIf="isAuthenticated$ | async">
    <button mat-icon-button (click)="openNotifications()">
      <mat-icon matBadge="3" matBadgeColor="accent">notifications</mat-icon>
    </button>

    <button mat-icon-button routerLink="/settings">
      <mat-icon>help_outline</mat-icon>
    </button>

    <button mat-button [matMenuTriggerFor]="profileMenu" class="profile-button">
      <!-- ✅ Usando o async pipe para exibir a imagem do perfil ou o placeholder -->
      <ng-container
        *ngIf="
          currentUserProfile$ | async as userProfile;
          else placeholderImage
        "
      >
        <img
          *ngIf="userProfile?.profilePictureUrl"
          [src]="'http://localhost:3000/' + userProfile.profilePictureUrl"
          alt="Perfil"
          class="profile-avatar"
        />
        <!-- Se o usuário for carregado, mas não tiver foto, exibe o placeholder -->
        <img
          *ngIf="!userProfile?.profilePictureUrl"
          src="assets/image-placeholder-user.jpg"
          alt="Perfil"
          class="profile-avatar"
        />
      </ng-container>
      <!-- Template para exibir enquanto os dados ainda não foram carregados -->
      <ng-template #placeholderImage>
        <img
          src="assets/image-placeholder-user.jpg"
          alt="Perfil"
          class="profile-avatar"
        />
      </ng-template>
    </button>

    <mat-menu #profileMenu="matMenu">
      <button mat-menu-item routerLink="/profile">
        <mat-icon>person</mat-icon> Meu Perfil
      </button>
      <button mat-menu-item routerLink="/dashboard">
        <mat-icon>dashboard</mat-icon> Dashboard
      </button>
      <button mat-menu-item (click)="logout()">
        <mat-icon>exit_to_app</mat-icon> Sair
      </button>
    </mat-menu>
  </div>
</mat-toolbar>
