<mat-toolbar color="primary" class="footer-toolbar">
  <div class="footer-wrapper">
    <div class="footer-content">
      <div class="footer-section quick-links">
        <h3>Links Rápidos</h3>
        <ul>
          <li><a href="#about-us">Sobre Nós</a></li>
          <li><a href="#open-vacancies">Vagas Abertas</a></li>
          <li><a href="#contact">Contato</a></li>
          <li><a href="#">Política de Privacidade</a></li>
        </ul>
      </div>
      <div class="footer-section contact-info">
        <h3>Contato</h3>
        <ul>
          <li>
            <a href="#about-us"
              >Endereço: Rua Exemplo, 123.<br />
              Maceió - Alagoas</a
            >
          </li>
          <li><a href="#about-us">Telefone: (82) 4321-1234</a></li>
          <li>
            <a href="#about-us">Email: contato&#64;talentlink.com</a>
          </li>
        </ul>
      </div>
    </div>
    <div class="social-media">
      <a href="#" target="_blank"
        ><img src="assets/icon-facebook.png" alt="   Facebook   "
      /></a>
      <a href="#" target="_blank"
        ><img src="assets/icon-linkedin.png" alt="   LinkedIn   "
      /></a>
      <a href="#" target="_blank"
        ><img src="assets/icon-twitter.png" alt="   Twitter   "
      /></a>
    </div>
    <div class="copyright-section">
      <p>&copy; {{ currentYear }} Talent Link. Todos os direitos reservados.</p>
    </div>
  </div>
</mat-toolbar>
