<section class="about-us-section" id="about-us">
  <h2>Quem Somos</h2>
  <p>
    A Talent Link é líder em soluções de RH e TI inovadoras, dedicada a
    transformar o cenário tecnológico e a impulsionar o crescimento de empresas
    e profissionais. Com uma equipe apaixonada e focada em resultados,
    oferecemos serviços de consultoria, desenvolvimento de software e
    recrutamento especializado, criando pontes entre as melhores oportunidades e
    os talentos mais promissores.
  </p>
</section>
