<section class="contact-section" id="contact">
  <h2>Entre em Contato</h2>
  <form class="contact-form">
    <mat-form-field appearance="fill">
      <mat-label>Nome Completa</mat-label>
      <input matInput placeholder="Seu nome" />
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Email</mat-label>
      <input matInput type="email" placeholder="seu.email@exemplo.com" />
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Mensagem</mat-label>
      <textarea matInput placeholder="Sua mensagem"></textarea>
    </mat-form-field>
    <button mat-raised-button color="primary" type="submit">
      Enviar Mensagem
    </button>
  </form>
</section>
